body {
    text-align: center;
    background-color: #E4D6A7;
    color: #1C110A;
    font-family: Edu AU VIC WA NT Hand, Arial, Helvetica, sans-serif;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}