#titleDiv {
    height: 100px;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
}

#choicesDiv {
    height: 200px;
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin-bottom: 50px;
}

.choices {
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 100px;
}

#rock {
    margin-left: 300px;
}

#scissors {
    margin-right: 300px;
}

.icons {
    height: 150px;
}