#titleDiv {
    height: 100px;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
}

#choicesDiv {
    height: 200px;
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin-bottom: 50px;
}

.choices {
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 100px;
    background-color: #E4D6A7;
}

.icons {
    height: 150px;
}

#pointCount {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 80px;
}

.point {
    font-weight: bold;
    color: #556b2f;
}

#instruction {
    font-size: 40px;
    font-weight: 450;
}